<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Jasypt encryption settings -->
        <property name="connection.provider_class">org.jasypt.hibernate5.connectionprovider.FixedEncryptedPasswordDriverManagerConnectionProvider</property>
        <property name="connection.encryptor_registered_name">stringEncryptor</property>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/expert_lamp?serverTimezone=UTC</property>
        <property name="connection.username">expert_lamp</property>
        <property name="connection.password">ENC(sNZ4YReEzY+XDhZZSejgnKu00Z0F7hpZ)</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Validate schema on startup -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="highlight_sql">true</property>

        <mapping class="com.senorpez.guildwars2.entity.ItemEntity"/>
        <mapping class="com.senorpez.guildwars2.entity.MaterialEntity"/>
    </session-factory>
</hibernate-configuration>